@using BloodDonation.Common
<!DOCTYPE html>
<html lang="bg">
<head>
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/lazy.css">
    <link rel="favicon" type="image/x-icon" href="~/favicon.ico" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary border-bottom box-shadow">
            <div class="btn-group">
                <img src="~/bloodHeroImg.png" class="pmg " width="70" height="60">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-3" aria-controls="navbarNavDropdown-3"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mr-auto text-center" id="navbarNavDropdown-3">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-danger btn-icon btn-sm">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-medkit"></i> Начало
                                </a>
                            </button>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-danger btn-icon btn-sm">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    <i class="fas fa-hand-holding-heart"></i> Приемник
                                </a>
                            </button>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-danger btn-icon btn-sm">
                                <a class="nav-link" asp-area="" asp-controller="Donor" asp-action="BeADonor">
                                    <i class="fas fa-hand-holding-heart"></i> Стани Дарител
                                </a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-danger btn-icon btn-sm">
                                <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">
                                    <i class="fas fa-envelope-open-text"></i> Свържете се с нас
                                </a>
                            </button>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />

            </div>
        </nav>
    </header>

    @this.RenderBody()

    <footer class="border-top bott footer text-muted bg-primary">
        <div class="container">
            <div class="card-body">
                <div class="float-left"><a href="/">@GlobalConstants.SystemName</a> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика за поверителност</a>  &copy; 2021-@(DateTime.UtcNow.Year) - <a href="https://github.com/ViktorNikoloov/ASP.NET-Core-Project-Blood-Donation-System" target="_blank">Open source system</a></div>
            </div>
        </div>
    </footer>

</body>
</html>


