@using BloodDonation.Common
@using BloodDonation.Data.Models
@using BloodDonation.Data.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BloodDonation.Web.ViewModels.Blog
@model ArticlesListViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = GlobalConstants.MainPageName;

    if (this.TempData.ContainsKey("Message"))
    {
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @this.TempData["Message"]
        </div>
    }
    else if (this.TempData.ContainsKey("NotFoundMessage"))
    {
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @this.TempData["NotFoundMessage"]
        </div>
    }

    var hasInfo = false;
    if (this.User.IsInRole("Donor"))
    {
        var user = await UserManager.GetUserAsync(this.User);

        var donor = user.Donor;
        hasInfo =
        user.Donor.FirstName != "Липсва" ? true :
        user.Donor.MiddleName != "Липсва" ? true :
        user.Donor.LastName != "Липсва" ? true :
        hasInfo = user.Donor.Address.Town.Name != "Липсва" ? true :
        hasInfo = user.Donor.Address.Town.Street.Name != "Липсва" ? true :
        hasInfo = user.Donor.Gender != Gender.Unknown ? true :
        hasInfo = user.Donor.BloodType != BloodType.Unknown ? true : false;
    }
}

@if (this.User.IsInRole("Donor") && !hasInfo)
{
    <div id="smallBubble" class=" blinking small bg-primary border-info text-center">
        <span>"@GlobalConstants.DonorHasNotInformationSmallBubble"</span>
        <a class="nav-link text-white btn-outline-success rounded-pill " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><big>&#8594;</big></a>
    </div>

    <div id="bigBubble" class="bubble blinking bg-primary border-info text-center">
        <span><b>"@GlobalConstants.DonorHasNotInformationBigBubble"</b></span>
    </div>
}


<h1 class="display-5 text-md-center bgw">Добре дошли в GlobalConstants.SystemName!</h1>

<hr class="bg-primary w-auto">

<div class="container-fluid">
    <div class="text-body">

        <p style="font-size: 24px; font-style: italic;">
            <ul>
                <li> <h5 class="text-center text-white bg-primary rounded"> "Най-бързо развиващият се сайт за безвъзмездно кръводаряване в България."</h5></li>
                <li> <h5 class="text-center text-white bg-primary rounded">"Нуждаете от кръв ? Тук ще намерите вашите герои, които чакат за да Ви помогнат !"</h5></li>
                <li> <h5 class="text-center text-white bg-primary rounded">"Искате да бъдете нечии герой ? Направете го тук, кръводерете безвъзмездно на нуждаещ се !."</h5></li>
            </ul>


        </p>
    </div>
    <hr class="bg-white w-auto">

    <div class="container">
        <div class="row text-center">
            <div class="col-xl-6 col-sm-6 mb-5">
                <div class="card  bg-primary rounded shadow-sm py-5 px-4 h-100">
                    <div class="card-header">
                        <div class="card-title">
                            <img src="~/BeRecipientHomePicture.gif" alt="Be a recipient home picture" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="mb-0 text-info">Стани Реципиент</h5>
                            <span class="small text-uppercase text-danger">Потърси помощ.</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-success btn-icon btn-sm">
                            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/RegisterRecipient">
                                <i class="fas fa-syringe"></i> Стани Реципиент
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-sm-6 mb-5">
                <div class="card  bg-primary rounded shadow-sm py-5 px-4 h-100">
                    <div class="card-header">
                        <div class="card-title">
                            <img src="~/BeDonorHomePicture.gif" alt="Be a donor home picture" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-">
                            <h5 class="mb-0 text-info">Стани Кръводарител</h5>
                            <span class="small text-uppercase text-danger">Бъди нечии герой !</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-success btn-icon btn-sm">
                            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/RegisterDonor">
                                <i class="fas fa-hand-holding-heart"></i> Стани Кръводарител
                            </a>
                        </button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<hr class="bg-primary w-auto">

<partial name="_BlogArticlesPartial" model="@Model" />


@section Scripts{

    @if (this.User.IsInRole("Donor") && !hasInfo)
    {
        <script src="./buuble.js"></script>
        <script src="/buuble.js" type="module"></script>

        <script src="~/js/NotificationBubleBlinking.js"></script>
        <link href="~/css/NotificationBubleBlinking.css" rel="stylesheet" />

        <link href="~/css/HomePageCard.css" rel="stylesheet" />
    }
}