@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using BloodDonation.Data.Models
@using BloodDonation.Data.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BloodDonation.Web.ViewModels.Appointment
@model AppointmentByIdViewModel

@{
    ViewData["Title"] = "Молба за кръв";

    if (this.TempData.ContainsKey("Message"))
    {
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @this.TempData["Message"]
        </div>
    }
}

@if (this.User.IsInRole("Donor"))
{
    <form method="post" text-center>
        <div class="container bg-light p-2 table-bordered mb-3 mt-2">
            <div class="text-center btn btn-primary btn-block"><h1 class="text-white">@ViewData["Title"]</h1></div>

            <hr class=" bg-primary w-auto">

            <div class="bs-example">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card bg-white border border-dark mb-2">
                            <div class="card-header text-center">
                                <span><i class="far fa-calendar-check fa-3x text-left" style="color:purple"></i></span>
                                <h5>Информация за Молбата</h5>
                                <div class="row justify-content-sm-center">
                                    <span class="single-meta mr-2">
                                        <a asp-action="SendToEmail" asp-route-id="@Model.Id" class="btn btn-outline-warning">Send to Email</a>
                                    </span>

                                    <span class="single-meta">
                                        <a asp-action="SendToEmail" asp-route-id="@Model.Id" class="btn btn-outline-warning" onclick="window.print()">Print</a>
                                    </span>
                                </div>
                                <hr class=" bg-primary w-auto">
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-sm text-center">
                                        <div class="col-sm">
                                            <label asp-for="StartDate"></label>
                                            <p class="btn btn-block btn-icon btn-primary">@Model.StartDate.ToLocalTime().ToShortDateString()</p>
                                        </div>

                                        <div class="col-sm">
                                            <label asp-for="BloodType"></label>
                                            <p class="btn btn-block btn-icon btn-primary">@Model.EnumDisplayName</p>

                                        </div>

                                    </div>

                                    <div class="col-sm text-center">
                                        <div class="col-sm">
                                            <label asp-for="DeadLine"></label>
                                            <p class="btn btn-block btn-icon btn-primary">@Model.DeadLine.ToLocalTime().ToShortDateString()</p>
                                        </div>
                                        <div class="col-sm">
                                            <label asp-for="BloodBankCount"></label>
                                            <p class="btn btn-block btn-icon btn-primary">@Model.BloodBankCount/бр.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-2">
                        <div class="card bg-white border border-dark h-100">
                            <div class="card-header text-center">
                                <span><i class="fas fa-procedures fa-3x text-left" style="color:purple"></i></span>
                                <h5 class="text-center">Информация за Реципиента</h5>
                                <hr class=" bg-primary w-auto">
                            </div>
                            <div class="card-body">
                                <div class="card-text text-center">
                                    <label asp-for="RecipientFullName"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.RecipientFullName</p>

                                    <label asp-for="PhoneNumber"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.PhoneNumber</p>

                                    <label asp-for="Email"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.Email</p>

                                    <label asp-for="CityName"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.CityName</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-2">
                        <div class="card bg-light border border-dark h-100">
                            <div class="card-header text-center">
                                <span><i class="fas fa-hospital-alt fa-3x text-left" style="color:purple"></i></span>
                                <h5 class="text-center"> Информация за Болницата </h5>
                                <hr class=" bg-primary w-auto">
                            </div>
                            <div class="card-body">
                                <div class="card-text text-center">
                                    <label asp-for="HospitalName"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.HospitalName</p>

                                    <label asp-for="HospitalWard"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.HospitalWard</p>

                                    <label asp-for="HospitalCity"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.HospitalCity</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="card bg-light border border-dark mb-2">
                            <div class="card-header text-center">
                                <span><i class="fas fa-info-circle fa-3x text-left" style="color:purple"></i></span>
                                <h5>Допълнителна информация</h5>
                                <hr class=" bg-primary w-auto">
                            </div>
                            <div class="card-body">
                                <div class="card-text text-center">
                                    <label asp-for="SendingAddressInfo"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.SendingAddressInfo</p>

                                    <label asp-for="AdditionalInfo"></label>
                                    <p class="btn btn-block btn-icon btn-primary">@Model.AdditionalInfo</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class=" bg-primary w-auto">

            <p>
                Натискайки бутона "<u>Отзови се на молбата</u>", вие потвърждавате, че сте запознати и съгласни с нашата
                <a asp-controller="Home" asp-action="Privacy">политика за опазване на личните данни</a>
            </p>
            <hr class=" bg-primary w-auto">

            <div>
                <a type="submit" asp-controller="Appointment" asp-action="TakeAppointmentByDonor" asp-route-id="@Model.Id" class="btn btn-success btn-icon btn-block">Отзови се на молбата</a>
            </div>
        </div>
    </form>
}
else if (this.User.IsInRole("Administrator"))
{
    <form method="post" text-center>
        <div class="container bg-light p-2 table-bordered mb-3 mt-2">
            <div class="text-center btn btn-primary btn-block"><h3 class="text-white">@ViewData["Title"] на <u>@Model.RecipientFullName</u></h3></div>

            <hr class=" bg-primary w-auto">

            <div class="bs-example">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card bg-white border border-dark mb-2">
                            <div class="card-header text-center">
                                <span><i class="far fa-calendar-check fa-3x text-left" style="color:purple"></i></span>
                                <h5>Информация за Молбата</h5>
                                <hr class=" bg-primary w-auto">
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-sm text-center">
                                        <div class="col-sm">
                                            <label asp-for="@Model.StartDate"></label>
                                            <input asp-for="@Model.StartDate" class="form-control" />
                                            <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                                        </div>

                                        <div class="col-sm">
                                            <label asp-for="@Model.BloodType"></label>
                                            <select asp-for="@Model.BloodType" class="form-control" asp-items="Html.GetEnumSelectList<BloodType>().Skip(1)"> </select>
                                            <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-sm text-center">
                                        <div class="col-sm">
                                            <label asp-for="@Model.DeadLine"></label>
                                            <input asp-for="@Model.DeadLine" class="form-control" />
                                            <span asp-validation-for="@Model.DeadLine" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm">
                                            <label asp-for="@Model.BloodBankCount"></label>
                                            <input asp-for="@Model.BloodBankCount" class="form-control" />
                                            <span asp-validation-for="@Model.BloodBankCount" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-2">
                        <div class="card bg-light border border-dark h-100">
                            <div class="card-header text-center">
                                <span><i class="fas fa-hospital-alt fa-3x text-left" style="color:purple"></i></span>
                                <h5 class="text-center"> Информация за Болницата </h5>
                                <hr class=" bg-primary w-auto">
                            </div>
                            <div class="card-body">
                                <div class="card-text text-center">
                                    <div class="col form-group">
                                        <label asp-for="@Model.HospitalName"></label>
                                        <input asp-for="@Model.HospitalName" class="form-control" />
                                        <span asp-validation-for="@Model.HospitalName" class="text-danger"></span>
                                    </div>
                                    <div class="col form-group">
                                        <label asp-for="@Model.HospitalWard"></label>
                                        <input asp-for="@Model.HospitalWard" class="form-control" />
                                        <span asp-validation-for="@Model.HospitalWard" class="text-danger"></span>
                                    </div>
                                    <div class="col form-group">
                                        <label asp-for="@Model.HospitalCity"></label>
                                        <input asp-for="@Model.HospitalCity" class="form-control" />
                                        <span asp-validation-for="@Model.HospitalCity" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="card bg-light border border-dark mb-2">
                            <div class="card-header text-center">
                                <span><i class="fas fa-info-circle fa-3x text-left" style="color:purple"></i></span>
                                <h5>Допълнителна информация</h5>
                                <hr class=" bg-primary w-auto">
                            </div>
                            <div class="card-body">
                                <div class="form-row form-group">

                                    <div class="col form-group">
                                        <label asp-for="SendingAddressInfo"></label>
                                        <textarea asp-for="SendingAddressInfo" class="form-control" placeholder="Пример: гр.Пловдив, oфис на Спиди - 2-ра градска болница."> </textarea>
                                        <span asp-validation-for="SendingAddressInfo" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-row form-group">

                                    <div class="col form-group">
                                        <label asp-for="AdditionalInfo"></label>
                                        <textarea asp-for="AdditionalInfo" class="form-control " placeholder="Пример: Здавейте, мили хора, вчера на посочета по-горе дата ще ме приемат в болница за спешна операция и се нуждая от описаното количество банки кръв. Сърдечно Ви благодаря !"> </textarea>
                                        <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class=" bg-primary w-auto">

            <div class="col text-center bg-light s2 right">
                <a asp-area="" asp-controller="Appointment" asp-action="All" class="btn btn-outline-info btn-icon btn-md" type="submit" name="action">
                    <i class="fas fa-arrow-left">Назад</i>
                </a>

                <button type="button" class="btn btn btn-outline-danger btn-icon" data-toggle="modal" data-target="#rejectButton">
                    <i class="fas fa-user-slash">Отхвърли</i>
                </button>

                <button type="button" class="btn btn-outline-success btn-icon" data-toggle="modal" data-target="#acceptButton">
                    <i class="fas fa-user-check">Одобри</i>
                </button>

            </div>

            <div class="modal fade" id="rejectButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-titlete text-center" id="staticBackdropLabel" style="color:darkred"><u>Изтриване на заявление!</u></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="bg-light">Сигурни ли сте, че искате да изтриете заявлението на "@Model.RecipientFullName".</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" asp-action="" asp-route-id="@Model.Id">
                                <button type="button" class="btn btn-info btn-icon" data-dismiss="modal">Затвори</button>
                                <button type="submit" class="btn btn-danger btn-icon">Изтрий</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="acceptButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-titlete text-center" id="staticBackdropLabel" style="color:seagreen"><u>Одобряване на заявление!</u></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="bg-light">Сигурни ли сте, че искате да одобрите заявлението на "@Model.RecipientFullName".</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" asp-action="" asp-route-id="@Model.Id">
                                <button type="button" class="btn btn-info btn-icon" data-dismiss="modal">Затвори</button>
                                <button type="submit" class="btn btn-success btn-icon">Одобри</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
