@using BloodDonation.Web.ViewModels.Appointment
@model AppointmentCreateInputModel

@{
    this.ViewData["Title"] = "Подаване на молба за кръв";
}



<div class="class float-md-none" d-flex flex-column bd-highlight mb-3>
    <div asp-validation-summary="All" class=" alert-danger" role="alert"></div>
    <form method="post" text-center>
        <div class="card text-white bg-danger mb-3">
            <div class="card-header text-center">
                <h1>@ViewData["Title"]</h1>
            </div>

            <hr class=" bg-primary w-auto">
            
            <div class="card-body text-center">
                <div class="card-title">
                    <div class="form-row form-group">

                        <div class="col form-group">
                            <label asp-for="@Model.Hospital"></label>
                            <input asp-for="@Model.Hospital" class="form-control" placeholder="Пример: Св Георги" />
                            <span asp-validation-for="@Model.Hospital" class="text-danger"></span>
                        </div>

                        <div class="col form-group">
                            <label asp-for="@Model.HospitalWard"></label>
                            <input asp-for="@Model.HospitalWard" class="form-control" placeholder="Пример: Вътрешно отделение" />
                            <span asp-validation-for="@Model.HospitalWard" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-row form-group">

                        <div class="col form-group">
                            <label asp-for="@Model.HospitalCity"></label>
                            <input asp-for="@Model.HospitalCity" class="form-control" placeholder="Пример: Пловдив" />
                            <span asp-validation-for="@Model.HospitalCity" class="text-danger"></span>
                        </div>

                        <div class="col form-group">
                            <label asp-for="@Model.BloodBankCount"></label>
                            <input asp-for="@Model.BloodBankCount" class="form-control" placeholder="Пример: 4" />
                            <span asp-validation-for="@Model.BloodBankCount" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-row form-group">

                        <div class="col form-group">
                            <label asp-for="@Model.StartDate"></label>
                            <input asp-for="@Model.StartDate" class="form-control" />
                            <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                        </div>

                        <div class="col form-group">
                            <label asp-for="@Model.DeadLine"></label>
                            <input asp-for="@Model.DeadLine" class="form-control" />
                            <span asp-validation-for="@Model.DeadLine" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-row form-group">

                        <div class="col form-group">
                            <label asp-for="@Model.SendingAddressInfo"></label>
                            <textarea asp-for="@Model.SendingAddressInfo" class="form-control" placeholder="Пример: гр.Пловдив, oфис на Спиди - 2-ра градска болница."> </textarea>
                            <span asp-validation-for="@Model.SendingAddressInfo" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-row form-group">

                        <div class="col form-group">
                            <label asp-for="@Model.AdditionalInfo"></label>
                            <textarea asp-for="@Model.AdditionalInfo" class="form-control " placeholder="Пример: Здавейте, мили хора, вчера на посочета по-горе дата ще ме приемат в болница за спешна операция и се нуждая от описаното количество банки кръв. Сърдечно Ви благодаря !"> </textarea>
                            <span asp-validation-for="@Model.AdditionalInfo" class="text-danger"></span>
                        </div>

                    </div>

                </div>
            </div>

            <div class=" card-footer">
                <hr class=" bg-primary w-auto">

                <p>
                    Натискайки бутона "<u>Подай молба</u>", вие потвърждавате, че сте запознати и съгласни с нашата
                    <a asp-controller="Home" asp-action="Privacy">политика за опазване на личните данни</a>
                </p>
                <hr class=" bg-primary w-auto">

                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">Подай молба</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_GoogleReCaptchaPartial" />
}
