@model BloodDonation.Web.ViewModels.Administration.Dashboard.UnapprovedUsersViewModel

@{
    TempData["Hello"] = "Здравей!";
    TempData["RegulateApplicants"] = "Достъпихте страницата за регулиране на кандидати.";
    ViewData["Title"] = "RegulateApplicants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (this.TempData.ContainsKey("isSuccessful"))
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @this.TempData["isSuccessful"]
    </div>
}

@if (this.TempData.ContainsKey("isRejected"))
{
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @this.TempData["isRejected"]
    </div>
}

<h2 class="center">Регулиране на кандидати</h2>

<table class="table table-responsive-sm table-active table-hover table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col">Дата на подаване</th>
            <th scope="col">Еmail</th>
            <th scope="col">Телефонен номер</th>
            <th scope="col">Управление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model.Applicants)
        {
            <tr>
                <td>@applicant.CreatedOn</td>
                <td>@applicant.Email</td>
                <td>@applicant.PhoneNumber</td>
                <td>
                    <a class="btn btn-outline-primary" data-position="right" data-tooltip="Повече информация" asp-area="Administration" asp-controller="Dashboard" asp-action="ApplicantById" asp-route-id="@applicant.Id">Детайли</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <div>
                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="RegulationPage" class="btn btn-outline-primary btn-icon btn-block" type="submit" name="action">
                        <i class="fas fa-arrow-left">Назад</i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>